<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
	<% include ./partials/header %>
	
	<h1>Movies</h1>
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor mi eu auctor tincidunt. Suspendisse porta nibh felis, at iaculis velit tristique in. 
	</div>

	<% include ./partials/footer %>
</body>
</html>